= content_for :heading, "Manage Customers"
= content_for :caption, "See details for customers and their active subscriptions."
.breadcrumb
	= link_to 'All Apps', apps_path
	»
	= link_to @app.title, app_path(:bundle_identifier => @app.bundle_identifier)
	
%h2 Customers
- if @customers.empty?
	%p You do not have any customers yet.
- else
	%table{:width => '100%', :border => 0, :cellspacing => 0, :cellpadding => 0}
		%tr
			%th EMAIL
			%th PRODUCT IDENTIFIER
			%th EXPIRES ON
			%th 
		- @customers.each do |customer| 
			- if customer.subscriptions.empty?
				%tr
					%td= customer.email
					%td 
					%td 
					%td
			- else
				- customer.subscriptions.each do |sub|
					%tr 
						%td= customer.email
						%td= sub.product.identifier
						%td= sub.expiration_date
						%td
