= content_for :heading, "Manage Customers"
= content_for :caption, "See details for customers and their active subscriptions."
.breadcrumb
	= link_to 'All Apps', apps_path
	»
	= link_to @app.title, @app
	
%h2 Customers
- if @customers.empty?
	%p You do not have any customers yet.
- else
	%table{:border => 0, :cellspacing => 0, :cellpadding => 0}
		%tr
			%th EMAIL
			%th.identifier SUBSCRIPTION
			%th EXPIRES ON
			%th 
		- @customers.each do |customer| 
			%tr 
				%td= customer.email
				%td= customer.subscriptions.collect {|sub| sub.product.identifier}.join("<br/>")
				%td= customer.subscriptions.collect {|sub| sub.expiration_date.to_s}.join("<br/>")
				%td
