= content_for :nav do
	#menu
		= link_to 'HOME', root_path
		= link_to 'FEATURES', features_path
	#account
		- if signed_in?
			= link_to 'PRODUCTS', app_products_path(@app) unless @app.nil?
			= link_to 'CUSTOMERS', app_customers_path(@app) unless @app.nil?
			= link_to 'APPS', apps_path
			= link_to 'ACCOUNT', user_path
			= link_to 'SIGN OUT', sign_out_path, :method => :delete
		- else
			= link_to 'SIGN UP', sign_up_path
			= link_to 'SIGN IN', sign_in_path
= render :file => '/layouts/application'
